<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />  
    </startup>
  <appSettings>
  <add key="BaseUrl" value="https://ducot.netdocuments.com/neWeb2/docCent.aspx" />
  <add key="ChromeUrl" value="C:\Users\snovy\.nuget\packages\selenium.webdriver.chromedriver\76.0.3809.6801\driver\win32" />
  </appSettings>
</configuration>