<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
      <add key="ChromeDriver" value="C:\Program Files (x86)\Google\Chrome\Application"/>
      <add key="BaseUrl" value ="https://ducot.netdocuments.com/neWeb2/docCent.aspx"/>
    </appSettings>
</configuration>